@charset "utf-8";


@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}

@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}

@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}

.lottemartdream * {
    font-family: 'LotteMartDream', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

body {
    font-size: 14px;
    line-height: 29px;
    font-family: 'NanumSquare';
    color: #000;
    background-color: #f6f2ed;
    min-width: 1500px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*header*/

#header {
    font-family: "맑은고딕";
    background-color: #eff7ee;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#header_inner {
    width: 1320px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

#login {
    text-align: right;
}

#login li {
    display: inline-block;
    font-size: 12px;
}

#login li a {
    padding: 5px 20px;
}

#brand li {
    float: left;
    font-size: 19px;
    font-weight: bold;
    padding-left: 30px;
}

.logo {
    float: left;
    position: absolute;
    left: 5px;
    top: 8px;
    padding-left: 30px;
}

#brand {
    float: right;
    margin-right: 400px;
    margin-bottom: 10px;
}

#brand li a {
    padding: 5px 20px;
}

/*best*/
#best {
    width: 100%;
    box-sizing: border-box;
}

.sub_title {
    text-align: center;
    color: #532c20;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 20px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.best_in {
    width: 1340px;
    margin: 0 auto;
}

.best_text {
    width: 738px;
    text-align: right;
    float: left;
    padding-right: 80px;
    box-sizing: border-box;
}

.best_in>.best_text1 {
    width: 738px;
    text-align: left;
    float: right;
    box-sizing: border-box;
    padding-left: 80px;
}

.bg1 {
    background-image: url(images/h1.png);
    height: 400px;
    background-repeat: no-repeat;
}

.bg2 {
    background-image: url(images/h5.png);
    height: 400px;
    background-repeat: no-repeat;
}

.right {
    background-image: url(images/h3.png);
    height: 400px;
    background-repeat: no-repeat;
    background-position: right top;
}

#best ul li {
    box-sizing: border-box;
    overflow: hidden;
    font-size: 0;
}

.best_in>div {
    padding-top: 70px;
}

.best_in {
    box-sizing: border-box;
}

#best>ul>li>div>p {
    float: left;
}

.img1 {
    float: left;
}

/*btn*/
#best ul li {
    position: relative;
}

.btn,
.btn1,
.btn2 {
    display: inline-block;
    color: #fff;
    padding: 5px 30px;
    margin-top: 30px;
    border: 1px solid #fff;
    border-radius: 30px;
    font-weight: bold;
}

.btn {
    font-size: 16px;
}

.btn1 {
    font-size: 16px;
}

.btn2 {

    font-size: 16px;
}

.btn:hover,
.btn1:hover,
.btn2:hover {
    background-color: #72624e;
    color: #fff;
    transition: all 0.5s;
}

.right {
    margin: 50px 0;
}

.birth img {
    width: 100%;
}

#birth {
    margin-bottom: 100px;
    width: 100%;
}

#camo {
    text-align: center;
    margin-bottom: 50px;
    font-size: 0;
}

.t1 {
    color: #72624e;
    font-family: 'LotteMartDream';
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.t2 {
    color: #72624e;
    font-family: 'LotteMartDream';
    ;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 70px;
    text-align: center;
}

/*text*/
#text {
    width: 1320px;
    margin: 0 auto;
    color: #72624e;
    font-family: 'LotteMartDream';
    font-size: 18px;
    padding: 20px;
    border-top: 3px solid #532c20;
    border-bottom: 3px solid #532c20;
}

#text h2 {
    font-weight: bold;
    font-size: 18px;
}

#text h1 {
    text-align: left;
    font-size: 33px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 30px;
    font-weight: bold;
    color: #532c20;
}

#text ul li {
    float: left;
    padding-right: 125px;
}

#text ul li p {
    padding: 30px 0;
    font-size: 18px;
    line-height: 34px;
}

#text ul {
    padding-left: 380px;
}

.story1 {
    padding-top: 69px;
}

.story2 {
    font-size: 0;
}

.story1 a img {
    width: 100%;
}

.story2 a img {
    width: 100%;
    vertical-align: middle;
}

/*footer*/
#footer {
    background-color: #cadebd;
    padding: 40px 0;
}

#footer_inner {
    width: 1320px;
    margin: 0 auto;
}

#footer_inner #us li {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    float: left;
    padding: 5px 30px;
}

#footer_inner>#us>li:nth-child(1) {
    padding-left: 25px;
}

#footer_inner>#us {
    padding-bottom: 15px;
    padding-left: 350px;
    text-align: center;
}

#footer_inner>#us2>li {
    display: inline-block;
    line-height: 30px;
}

#footer_inner>#us2>.flogo {
    display: inline-block;
    padding-top: 12px;
    padding-right: 55px;
}

#us2 {
    display: flex;
    justify-content: center;
}

/*top_btn*/

.top_btn a {
    display: inline-block;
    width: 40px;
    text-align: center;
    background-color: #6c5740;
    color: #fff;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.top_btn {
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 10;
}